# FIRST CLEANING OF CORN DATA
## cleaned in excel, now to Python
### This script includes the following:
#### 1 Importing and Cleaning Data
#### 2 Addressing Null Values
#### 3 Dropping Columns
#### 4 Addressing Duplicates
#### 5. Exporting Cleaned Data Set

## 1 Importing and Cleaning Data

In [3]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
path = r"C:\Users\Noah\Achievement 6"

In [5]:
# importing corn data
df = pd.read_csv(os.path.join(path, '02 Data', 'Cleaned', 'Corn Cleaned.csv'), index_col=False)

In [6]:
df.shape

(5298, 16)

### consistency checks

In [8]:
df.describe()

,Year,Zip code,latitude,longitude,Sales ($),State ANSI,Ag District Code
count,5298.000000,5298.000000,5169.000000,5169.000000,5.298000e+03,5298.000000,5298.000000
mean,2017.564364,50493.010004,38.376429,-90.915740,2.924222e+07,30.486976,48.299358
std,4.968516,21550.142365,4.652816,10.183299,5.146335e+07,14.507038,25.511498
min,2012.000000,501.000000,24.820000,-124.150000,0.000000e+00,1.000000,10.000000
25%,2012.000000,32601.000000,35.030000,-96.850000,3.647500e+05,19.000000,30.000000
50%,2022.000000,50046.500000,38.460000,-89.460000,5.685500e+06,29.000000,50.000000
75%,2022.000000,67438.500000,41.660000,-83.570000,3.254300e+07,44.000000,70.000000
max,2022.000000,99328.000000,48.990000,-67.760000,3.937870e+08,56.000000,97.000000

### checking for mixed type colummns

In [10]:
for col in df.columns:
    if df[col].map(type).nunique() > 1:
        print(col)
        # no output means no mixed type

### column types

In [12]:
df.dtypes

Year                                  int64
County                               object
State                                object
Zip code                              int64
latitude                            float64
longitude                           float64
Plant Hardiness Zone                 object
Corn Acres Harvested                 object
Sales ($)                             int64
Coefficient of Variation (%)         object
State ANSI                            int64
Ag District                          object
Ag District Code                      int64
Commodity                            object
Data Item                            object
Concatenated County, State, Year     object
dtype: object

### changing Zip to string type

In [14]:
df['Zip code'] = df['Zip code'].astype('str')

### renaming columns

In [16]:
df.rename(columns={'Plant Hardiness Zone':'PHZ','Coefficient of Variation (%)': 'CV', 'Sales ($)': 'Sales', 'State ANSI':'ANSI', 'latitude':'Latitude', 'longitude':'Longitude'}, inplace=True)
df.head()

,Year,County,State,Zip code,Latitude,Longitude,PHZ,Corn Acres Harvested,Sales,CV,ANSI,Ag District,Ag District Code,Commodity,Data Item,"Concatenated County, State, Year"
0,2022,CREEK,OKLAHOMA,74010,35.83,-96.39,7b,244,71000,0.3,40,CENTRAL,50,CORN,"CORN, GRAIN - ACRES HARVESTED TOTAL",CREEKOKLAHOMA2022
1,2022,GRADY,OKLAHOMA,73002,34.92,-97.77,7b,3063,2834000,0.3,40,CENTRAL,50,CORN,"CORN, GRAIN - ACRES HARVESTED TOTAL",GRADYOKLAHOMA2022
2,2022,MCCLAIN,OKLAHOMA,73010,35.14,-97.65,7b,3167,1941000,0.3,40,CENTRAL,50,CORN,"CORN, GRAIN - ACRES HARVESTED TOTAL",MCCLAINOKLAHOMA2022
3,2022,PAYNE,OKLAHOMA,74023,35.97,-96.76,7b,401,237000,0.3,40,CENTRAL,50,CORN,"CORN, GRAIN - ACRES HARVESTED TOTAL",PAYNEOKLAHOMA2022
4,2022,MAJOR,OKLAHOMA,73718,36.24,-98.18,7a,4449,7794000,0.3,40,NORTH CENTRAL,40,CORN,"CORN, GRAIN - ACRES HARVESTED TOTAL",MAJOROKLAHOMA2022

In [17]:
df.describe()

,Year,Latitude,Longitude,Sales,ANSI,Ag District Code
count,5298.000000,5169.000000,5169.000000,5.298000e+03,5298.000000,5298.000000
mean,2017.564364,38.376429,-90.915740,2.924222e+07,30.486976,48.299358
std,4.968516,4.652816,10.183299,5.146335e+07,14.507038,25.511498
min,2012.000000,24.820000,-124.150000,0.000000e+00,1.000000,10.000000
25%,2012.000000,35.030000,-96.850000,3.647500e+05,19.000000,30.000000
50%,2022.000000,38.460000,-89.460000,5.685500e+06,29.000000,50.000000
75%,2022.000000,41.660000,-83.570000,3.254300e+07,44.000000,70.000000
max,2022.000000,48.990000,-67.760000,3.937870e+08,56.000000,97.000000

### checking for null and duplicates

In [19]:
df.isnull().sum()

Year                                  0
County                                0
State                                 0
Zip code                              0
Latitude                            129
Longitude                           129
PHZ                                   0
Corn Acres Harvested                  0
Sales                                 0
CV                                    0
ANSI                                  0
Ag District                           0
Ag District Code                      0
Commodity                             0
Data Item                             0
Concatenated County, State, Year      0
dtype: int64

In [20]:
df_dups = df[df.duplicated()]

In [21]:
df_dups.shape

(109, 16)

## 2 Addressing Null Values

### CV and Corn Acres Harvested not integer values- need to change

In [24]:
# first, must remove null values (D)
df['Corn Acres Harvested'] = df['Corn Acres Harvested'].replace(' (D)', np.nan)

In [25]:
null_counts = df['Corn Acres Harvested'].isnull().sum()
print(null_counts)

625

In [26]:
625/5169

0.12091313600309538

### missing values greater than 5% of total data. Need to find workaround

### replace null value with average for corresponding Ag District

In [29]:
# converting column to numeric for aggregations
df['Corn Acres Harvested'] = pd.to_numeric(df['Corn Acres Harvested'], errors='coerce')
print(df.dtypes)

Year                                  int64
County                               object
State                                object
Zip code                             object
Latitude                            float64
Longitude                           float64
PHZ                                  object
Corn Acres Harvested                float64
Sales                                 int64
CV                                   object
ANSI                                  int64
Ag District                          object
Ag District Code                      int64
Commodity                            object
Data Item                            object
Concatenated County, State, Year     object
dtype: object

In [30]:
# Calculate the mean value for each district, ignoring NaNs
mean_values = df.groupby('Ag District')['Corn Acres Harvested'].transform('mean')

In [31]:
#filling in (D) values with averages of the Ag Region
# Replace NaN values in 'Corn Acres Harvested' with the mean value for their district
df['Corn Acres Harvested'] = df['Corn Acres Harvested'].fillna(mean_values)

In [32]:
null_counts = df['Corn Acres Harvested'].isnull().sum()
print(null_counts)

4

In [33]:
null_rows = df[df['Corn Acres Harvested'].isna()]
print(null_rows)

      Year      County     State Zip code  Latitude  Longitude PHZ  \
4608  2022     JACKSON  COLORADO    80430     40.52    -106.42  4b
4609  2022        LAKE  COLORADO    80429     39.37    -106.18  5a
4610  2022      MOFFAT  COLORADO    81610     40.24    -109.00  6a
4611  2022  RIO GRANDE  COLORADO    81132     37.67    -106.35  5b

      Corn Acres Harvested  Sales   CV  ANSI             Ag District  \
4608                   NaN      0  (D)     8  NORTHWEST AND MOUNTAIN
4609                   NaN      0  (D)     8  NORTHWEST AND MOUNTAIN
4610                   NaN      0  (D)     8  NORTHWEST AND MOUNTAIN
4611                   NaN      0  (D)     8         SAN LUIS VALLEY

      Ag District Code Commodity                            Data Item  \
4608                10      CORN  CORN, GRAIN - ACRES HARVESTED TOTAL
4609                10      CORN  CORN, GRAIN - ACRES HARVESTED TOTAL
4610                10      CORN  CORN, GRAIN - ACRES HARVESTED TOTAL
4611                80      CORN  CORN, GRAIN - ACRES HARVESTED TOTAL

     Concatenated County, State, Year
4608              JACKSONCOLORADO2022
4609                 LAKECOLORADO2022
4610               MOFFATCOLORADO2022
4611            RIOGRANDECOLORADO2022

### still 4 NaN rows. Small enough percentage of population to be ignored.

In [35]:
# Drop rows where 'Corn Acres Harvested' is NaN
df_dropna = df.dropna(subset=['Corn Acres Harvested'])

In [36]:
df_dropna.shape

(5294, 16)

### cleaning CV

In [39]:
uniquevalues_CV = df['CV'].unique()
print(uniquevalues_CV)

['0.3' '2.5' '2.8' '3.1' '3.9' '5.1' '5.4' '5.6' '6.2' '6.4' '6.5' '6.8'
 '7' '7.3' '7.4' '7.8' '8.1' '8.2' '8.3' '8.4' '8.5' '8.8' '9.1' '9.2'
 '9.7' '9.8' '9.9' '10.1' '11.4' '11.8' '12.1' '12.3' '12.5' '12.6' '13.1'
 '13.2' '13.4' '13.5' '13.7' '14.3' '14.4' '15.2' '15.4' '16.1' '16.8'
 '17' '17.4' '17.7' '17.8' '18.2' '18.6' '18.8' '19.1' '19.2' '19.6'
 '19.7' '20' '20.4' '21.7' '21.8' '22.3' '22.5' '22.8' '23' '24.6' '25.3'
 '28.2' '28.3' '29.7' '30.6' '31.5' '37.3' '40.6' '40.9' '42.8' '43.5'
 '45.5' '51.9' '55.7' '62.8' '64.7' '(D)' '(L)']

#### L = Coefficient of variation or generalized coefficient of variation is less than 0.05 percent or the standard error is less than 0.05 percent of the mean. We can zero these values
#### D = Did not report. Replacing with average of the Ag District

### converting (L) values into 0.

In [43]:
df['CV'] = df['CV'].replace('(L)', 0)
zero_count = (df['CV'] == 0).sum()
print(zero_count)

91

### repeating process of removing (D) values, this time from Coefficient

In [46]:
nullvalues_CV = df['CV'].isna()
null_count=nullvalues_CV.sum()
print(null_count)

0

In [50]:
uniquevalues_CV = df['CV'].unique()
print(uniquevalues_CV)

['0.3' '2.5' '2.8' '3.1' '3.9' '5.1' '5.4' '5.6' '6.2' '6.4' '6.5' '6.8'
 '7' '7.3' '7.4' '7.8' '8.1' '8.2' '8.3' '8.4' '8.5' '8.8' '9.1' '9.2'
 '9.7' '9.8' '9.9' '10.1' '11.4' '11.8' '12.1' '12.3' '12.5' '12.6' '13.1'
 '13.2' '13.4' '13.5' '13.7' '14.3' '14.4' '15.2' '15.4' '16.1' '16.8'
 '17' '17.4' '17.7' '17.8' '18.2' '18.6' '18.8' '19.1' '19.2' '19.6'
 '19.7' '20' '20.4' '21.7' '21.8' '22.3' '22.5' '22.8' '23' '24.6' '25.3'
 '28.2' '28.3' '29.7' '30.6' '31.5' '37.3' '40.6' '40.9' '42.8' '43.5'
 '45.5' '51.9' '55.7' '62.8' '64.7' '(D)' 0]

In [52]:
null_counts = df['CV'].isnull().sum()
print(null_counts)

0

In [54]:
uniquevalues_CV = df['CV'].unique()
print(uniquevalues_CV)

['0.3' '2.5' '2.8' '3.1' '3.9' '5.1' '5.4' '5.6' '6.2' '6.4' '6.5' '6.8'
 '7' '7.3' '7.4' '7.8' '8.1' '8.2' '8.3' '8.4' '8.5' '8.8' '9.1' '9.2'
 '9.7' '9.8' '9.9' '10.1' '11.4' '11.8' '12.1' '12.3' '12.5' '12.6' '13.1'
 '13.2' '13.4' '13.5' '13.7' '14.3' '14.4' '15.2' '15.4' '16.1' '16.8'
 '17' '17.4' '17.7' '17.8' '18.2' '18.6' '18.8' '19.1' '19.2' '19.6'
 '19.7' '20' '20.4' '21.7' '21.8' '22.3' '22.5' '22.8' '23' '24.6' '25.3'
 '28.2' '28.3' '29.7' '30.6' '31.5' '37.3' '40.6' '40.9' '42.8' '43.5'
 '45.5' '51.9' '55.7' '62.8' '64.7' '(D)' 0]

In [56]:
# converting column to numeric for aggregations
df['CV'] = pd.to_numeric(df['CV'], errors='coerce')
print(df.dtypes)

Year                                  int64
County                               object
State                                object
Zip code                             object
Latitude                            float64
Longitude                           float64
PHZ                                  object
Corn Acres Harvested                float64
Sales                                 int64
CV                                  float64
ANSI                                  int64
Ag District                          object
Ag District Code                      int64
Commodity                            object
Data Item                            object
Concatenated County, State, Year     object
dtype: object

In [58]:
#calculating the mean ofeach district while ignoring nulls 
mean_values_coeff = df.groupby('Ag District')['CV'].transform('mean')

In [60]:
#Replace nulls in CV with mean
df['CV'] = df['CV'].fillna(mean_values_coeff)

In [62]:
#checking...
null_counts_coeff = df['CV'].isnull().sum()
print(f"Number of NaN values in 'CV' after replacement: {null_counts_coeff}")

Number of NaN values in 'CV' after replacement: 4

In [64]:
# Drop rows where 'CV' is null
df_dropCV = df.dropna(subset=['CV'])
print(df_dropCV)

      Year    County          State Zip code  Latitude  Longitude PHZ  \
0     2022     CREEK       OKLAHOMA    74010     35.83     -96.39  7b
1     2022     GRADY       OKLAHOMA    73002     34.92     -97.77  7b
2     2022   MCCLAIN       OKLAHOMA    73010     35.14     -97.65  7b
3     2022     PAYNE       OKLAHOMA    74023     35.97     -96.76  7b
4     2022     MAJOR       OKLAHOMA    73718     36.24     -98.18  7a
...    ...       ...            ...      ...       ...        ...  ..
5293  2022   KANAWHA  WEST VIRGINIA    25015     38.23     -81.53  7a
5294  2022   LINCOLN  WEST VIRGINIA    25003     38.28     -81.84  7a
5295  2022   ASHLAND      WISCONSIN    54514     46.01     -90.49  4a
5296  2022   NATRONA        WYOMING    82601     42.83    -106.32  5a
5297  2022  NIOBRARA        WYOMING    82222     43.20    -104.65  4b

      Corn Acres Harvested    Sales   CV  ANSI    Ag District  \
0                    244.0    71000  0.3    40        CENTRAL
1                   3063.0  2834000  0.3    40        CENTRAL
2                   3167.0  1941000  0.3    40        CENTRAL
3                    401.0   237000  0.3    40        CENTRAL
4                   4449.0  7794000  0.3    40  NORTH CENTRAL
...                    ...      ...  ...   ...            ...
5293                   5.0     2000  0.0    54      SOUTHWEST
5294                   6.0     2000  0.0    54      SOUTHWEST
5295                1796.0   918000  0.0    55  NORTH CENTRAL
5296                 638.0  1536000  0.0    56  SOUTH CENTRAL
5297                1064.0  1758000  0.0    56      SOUTHEAST

      Ag District Code Commodity                            Data Item  \
0                   50      CORN  CORN, GRAIN - ACRES HARVESTED TOTAL
1                   50      CORN  CORN, GRAIN - ACRES HARVESTED TOTAL
2                   50      CORN  CORN, GRAIN - ACRES HARVESTED TOTAL
3                   50      CORN  CORN, GRAIN - ACRES HARVESTED TOTAL
4                   40      CORN  CORN, GRAIN - ACRES HARVESTED TOTAL
...                ...       ...                                  ...
5293                40      CORN  CORN, GRAIN - ACRES HARVESTED TOTAL
5294                40      CORN  CORN, GRAIN - ACRES HARVESTED TOTAL
5295                20      CORN  CORN, GRAIN - ACRES HARVESTED TOTAL
5296                40      CORN  CORN, GRAIN - ACRES HARVESTED TOTAL
5297                50      CORN  CORN, GRAIN - ACRES HARVESTED TOTAL

     Concatenated County, State, Year
0                   CREEKOKLAHOMA2022
1                   GRADYOKLAHOMA2022
2                 MCCLAINOKLAHOMA2022
3                   PAYNEOKLAHOMA2022
4                   MAJOROKLAHOMA2022
...                               ...
5293          KANAWHAWESTVIRGINIA2022
5294          LINCOLNWESTVIRGINIA2022
5295             ASHLANDWISCONSIN2022
5296               NATRONAWYOMING2022
5297              NIOBRARAWYOMING2022

[5294 rows x 16 columns]

In [66]:
null_counts2 = df.isnull().sum()
print(null_counts2)

Year                                  0
County                                0
State                                 0
Zip code                              0
Latitude                            129
Longitude                           129
PHZ                                   0
Corn Acres Harvested                  4
Sales                                 0
CV                                    4
ANSI                                  0
Ag District                           0
Ag District Code                      0
Commodity                             0
Data Item                             0
Concatenated County, State, Year      0
dtype: int64

### dropping null counts

In [69]:
df_cleaned = df.dropna()
print(df_cleaned)

      Year    County          State Zip code  Latitude  Longitude PHZ  \
0     2022     CREEK       OKLAHOMA    74010     35.83     -96.39  7b
1     2022     GRADY       OKLAHOMA    73002     34.92     -97.77  7b
2     2022   MCCLAIN       OKLAHOMA    73010     35.14     -97.65  7b
3     2022     PAYNE       OKLAHOMA    74023     35.97     -96.76  7b
4     2022     MAJOR       OKLAHOMA    73718     36.24     -98.18  7a
...    ...       ...            ...      ...       ...        ...  ..
5293  2022   KANAWHA  WEST VIRGINIA    25015     38.23     -81.53  7a
5294  2022   LINCOLN  WEST VIRGINIA    25003     38.28     -81.84  7a
5295  2022   ASHLAND      WISCONSIN    54514     46.01     -90.49  4a
5296  2022   NATRONA        WYOMING    82601     42.83    -106.32  5a
5297  2022  NIOBRARA        WYOMING    82222     43.20    -104.65  4b

      Corn Acres Harvested    Sales   CV  ANSI    Ag District  \
0                    244.0    71000  0.3    40        CENTRAL
1                   3063.0  2834000  0.3    40        CENTRAL
2                   3167.0  1941000  0.3    40        CENTRAL
3                    401.0   237000  0.3    40        CENTRAL
4                   4449.0  7794000  0.3    40  NORTH CENTRAL
...                    ...      ...  ...   ...            ...
5293                   5.0     2000  0.0    54      SOUTHWEST
5294                   6.0     2000  0.0    54      SOUTHWEST
5295                1796.0   918000  0.0    55  NORTH CENTRAL
5296                 638.0  1536000  0.0    56  SOUTH CENTRAL
5297                1064.0  1758000  0.0    56      SOUTHEAST

      Ag District Code Commodity                            Data Item  \
0                   50      CORN  CORN, GRAIN - ACRES HARVESTED TOTAL
1                   50      CORN  CORN, GRAIN - ACRES HARVESTED TOTAL
2                   50      CORN  CORN, GRAIN - ACRES HARVESTED TOTAL
3                   50      CORN  CORN, GRAIN - ACRES HARVESTED TOTAL
4                   40      CORN  CORN, GRAIN - ACRES HARVESTED TOTAL
...                ...       ...                                  ...
5293                40      CORN  CORN, GRAIN - ACRES HARVESTED TOTAL
5294                40      CORN  CORN, GRAIN - ACRES HARVESTED TOTAL
5295                20      CORN  CORN, GRAIN - ACRES HARVESTED TOTAL
5296                40      CORN  CORN, GRAIN - ACRES HARVESTED TOTAL
5297                50      CORN  CORN, GRAIN - ACRES HARVESTED TOTAL

     Concatenated County, State, Year
0                   CREEKOKLAHOMA2022
1                   GRADYOKLAHOMA2022
2                 MCCLAINOKLAHOMA2022
3                   PAYNEOKLAHOMA2022
4                   MAJOROKLAHOMA2022
...                               ...
5293          KANAWHAWESTVIRGINIA2022
5294          LINCOLNWESTVIRGINIA2022
5295             ASHLANDWISCONSIN2022
5296               NATRONAWYOMING2022
5297              NIOBRARAWYOMING2022

[5165 rows x 16 columns]

In [71]:
# checking math to see if dropped values match to null values
5165-5298

-133

In [73]:
129+4

133

### dropped values and null values match, no nulls remain

## 3 Dropping Columns

In [78]:
#droppping 'Data Item' and 'Commodity' column from new data set
df_clean_dropdata = df_cleaned.drop(columns = ['Data Item'])

In [80]:
df_dropdatacomm = df_clean_dropdata.drop(columns = ['Commodity'])

In [82]:
df_dropdatacomm.head(5)

,Year,County,State,Zip code,Latitude,Longitude,PHZ,Corn Acres Harvested,Sales,CV,ANSI,Ag District,Ag District Code,"Concatenated County, State, Year"
0,2022,CREEK,OKLAHOMA,74010,35.83,-96.39,7b,244.0,71000,0.3,40,CENTRAL,50,CREEKOKLAHOMA2022
1,2022,GRADY,OKLAHOMA,73002,34.92,-97.77,7b,3063.0,2834000,0.3,40,CENTRAL,50,GRADYOKLAHOMA2022
2,2022,MCCLAIN,OKLAHOMA,73010,35.14,-97.65,7b,3167.0,1941000,0.3,40,CENTRAL,50,MCCLAINOKLAHOMA2022
3,2022,PAYNE,OKLAHOMA,74023,35.97,-96.76,7b,401.0,237000,0.3,40,CENTRAL,50,PAYNEOKLAHOMA2022
4,2022,MAJOR,OKLAHOMA,73718,36.24,-98.18,7a,4449.0,7794000,0.3,40,NORTH CENTRAL,40,MAJOROKLAHOMA2022

In [84]:
df_dropdatacomm.shape

(5165, 14)

In [86]:
# checking for nulls
null_counts = df_dropdatacomm.isnull().sum()
print(null_counts)

Year                                0
County                              0
State                               0
Zip code                            0
Latitude                            0
Longitude                           0
PHZ                                 0
Corn Acres Harvested                0
Sales                               0
CV                                  0
ANSI                                0
Ag District                         0
Ag District Code                    0
Concatenated County, State, Year    0
dtype: int64

#### no null values

In [89]:
# renaming Concatenated
df_dropdatacomm.rename(columns = {'Concatenated County, State, Year' : 'Concatenated'}, inplace = True)

In [91]:
df_dropdatacomm.head()

,Year,County,State,Zip code,Latitude,Longitude,PHZ,Corn Acres Harvested,Sales,CV,ANSI,Ag District,Ag District Code,Concatenated
0,2022,CREEK,OKLAHOMA,74010,35.83,-96.39,7b,244.0,71000,0.3,40,CENTRAL,50,CREEKOKLAHOMA2022
1,2022,GRADY,OKLAHOMA,73002,34.92,-97.77,7b,3063.0,2834000,0.3,40,CENTRAL,50,GRADYOKLAHOMA2022
2,2022,MCCLAIN,OKLAHOMA,73010,35.14,-97.65,7b,3167.0,1941000,0.3,40,CENTRAL,50,MCCLAINOKLAHOMA2022
3,2022,PAYNE,OKLAHOMA,74023,35.97,-96.76,7b,401.0,237000,0.3,40,CENTRAL,50,PAYNEOKLAHOMA2022
4,2022,MAJOR,OKLAHOMA,73718,36.24,-98.18,7a,4449.0,7794000,0.3,40,NORTH CENTRAL,40,MAJOROKLAHOMA2022

In [93]:
df_dropdatacomm.describe()

,Year,Latitude,Longitude,Corn Acres Harvested,Sales,CV,ANSI,Ag District Code
count,5165.000000,5165.000000,5165.000000,5165.000000,5.165000e+03,5165.000000,5165.000000,5165.000000
mean,2017.554695,38.375597,-90.903293,35702.855518,2.988467e+07,15.408589,30.448403,48.874153
std,4.969617,4.654419,10.177359,50209.115825,5.192729e+07,11.361837,14.550664,25.239704
min,2012.000000,24.820000,-124.150000,3.000000,0.000000e+00,0.000000,1.000000,10.000000
25%,2012.000000,35.030000,-96.840000,1922.000000,4.290000e+05,8.400000,19.000000,30.000000
50%,2022.000000,38.460000,-89.440000,13149.000000,6.112000e+06,13.200000,29.000000,50.000000
75%,2022.000000,41.660000,-83.570000,49546.000000,3.387600e+07,18.200000,45.000000,70.000000
max,2022.000000,48.990000,-67.760000,353558.000000,3.937870e+08,64.700000,56.000000,97.000000

## 4 Addressing Duplicates

In [95]:
df_dups.shape

(109, 16)

In [97]:
print(df_dups)

      Year       County          State Zip code  Latitude  Longitude PHZ  \
4925  2022       GREENE        ALABAMA    35443     32.75     -88.02  8b
4930  2022      YAVAPAI        ARIZONA    85324     34.13    -112.13  9a
4931  2022     GREENLEE        ARIZONA    85533     33.27    -109.27  8a
4938  2022        CLARK       ARKANSAS    71721     33.89     -93.21  8a
4947  2022       PLACER     CALIFORNIA    95602     39.00    -121.09  9b
...    ...          ...            ...      ...       ...        ...  ..
5192  2022      WHATCOM     WASHINGTON    98220     48.70    -122.19  8a
5193  2022     HARRISON  WEST VIRGINIA    26301     39.28     -80.33  6b
5195  2022      RITCHIE  WEST VIRGINIA    26148     39.07     -81.18  6b
5204  2022  HOT SPRINGS        WYOMING    82430     43.82    -108.18  4b
5205  2022       ALBANY        WYOMING    82051     41.58    -105.69  4a

     Corn Acres Harvested    Sales   CV  ANSI       Ag District  \
4925                  (D)        0  (D)     1        BLACK BELT
4930                  (D)        0  (D)     4          NORTHERN
4931                  (D)   261000  (D)     4          SOUTHERN
4938                  (D)        0  (D)     5     SOUTH CENTRAL
4947                  (D)        0  (D)     6  SIERRA MOUNTAINS
...                   ...      ...  ...   ...               ...
5192                  (D)  2698000  (D)    53           WESTERN
5193                  (D)   104000  (D)    54         NORTHWEST
5195                  (D)        0  (D)    54         NORTHWEST
5204                  (D)        0  (D)    56         NORTHWEST
5205                  (D)        0  (D)    56     SOUTH CENTRAL

      Ag District Code Commodity                            Data Item  \
4925                40      CORN  CORN, GRAIN - ACRES HARVESTED TOTAL
4930                10      CORN  CORN, GRAIN - ACRES HARVESTED TOTAL
4931                80      CORN  CORN, GRAIN - ACRES HARVESTED TOTAL
4938                80      CORN  CORN, GRAIN - ACRES HARVESTED TOTAL
4947                60      CORN  CORN, GRAIN - ACRES HARVESTED TOTAL
...                ...       ...                                  ...
5192                10      CORN  CORN, GRAIN - ACRES HARVESTED TOTAL
5193                20      CORN  CORN, GRAIN - ACRES HARVESTED TOTAL
5195                20      CORN  CORN, GRAIN - ACRES HARVESTED TOTAL
5204                10      CORN  CORN, GRAIN - ACRES HARVESTED TOTAL
5205                40      CORN  CORN, GRAIN - ACRES HARVESTED TOTAL

     Concatenated County, State, Year
4925                GREENEALABAMA2022
4930               YAVAPAIARIZONA2022
4931              GREENLEEARIZONA2022
4938                CLARKARKANSAS2022
4947             PLACERCALIFORNIA2022
...                               ...
5192            WHATCOMWASHINGTON2022
5193         HARRISONWESTVIRGINIA2022
5195          RITCHIEWESTVIRGINIA2022
5204            HOTSPRINGSWYOMING2022
5205                ALBANYWYOMING2022

[109 rows x 16 columns]

In [99]:
109/5165

0.021103581800580834

### keep first instance of duplicate, drop the other

In [102]:
df_nodups = df_dropdatacomm.drop_duplicates(keep='first')

In [106]:
df_nodups_test = df_nodups[df.duplicated()]
#no output means no duplicates

C:\Users\Noah\AppData\Local\Temp\ipykernel_16056\3197100540.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_nodups_test = df_nodups[df.duplicated()]

In [110]:
df_nodups_test.describe()

,Year,Latitude,Longitude,Corn Acres Harvested,Sales,CV,ANSI,Ag District Code
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [112]:
df_nodups.describe()

,Year,Latitude,Longitude,Corn Acres Harvested,Sales,CV,ANSI,Ag District Code
count,5064.000000,5064.000000,5064.000000,5064.000000,5.064000e+03,5064.000000,5064.000000,5064.000000
mean,2017.466035,38.420087,-90.786556,35800.449520,3.047040e+07,15.393912,30.382504,48.925750
std,4.978725,4.625367,10.063754,50604.362720,5.227278e+07,11.464410,14.510079,25.229518
min,2012.000000,24.820000,-124.150000,3.000000,0.000000e+00,0.000000,1.000000,10.000000
25%,2012.000000,35.115000,-96.740000,1899.750000,5.335000e+05,8.400000,19.000000,30.000000
50%,2022.000000,38.510000,-89.370000,12834.000000,6.652500e+06,12.600000,29.000000,50.000000
75%,2022.000000,41.680000,-83.537500,49619.929412,3.491400e+07,18.557692,42.000000,70.000000
max,2022.000000,48.990000,-67.760000,353558.000000,3.937870e+08,64.700000,56.000000,97.000000

In [114]:
df_nodups.dtypes

Year                      int64
County                   object
State                    object
Zip code                 object
Latitude                float64
Longitude               float64
PHZ                      object
Corn Acres Harvested    float64
Sales                     int64
CV                      float64
ANSI                      int64
Ag District              object
Ag District Code          int64
Concatenated             object
dtype: object

#### counts are good, all lines have same number
#### year data is good- only two values available
#### Corn Acres Harvested has no null values
#### sales data is good, no null no errors
#### Coefficient of Variation is integer
#### CV, ANSI and District codes are aligned with data

### rename data set

In [120]:
df_corn_analysis = df_nodups

In [122]:
print(df_corn_analysis)

      Year    County          State Zip code  Latitude  Longitude PHZ  \
0     2022     CREEK       OKLAHOMA    74010     35.83     -96.39  7b
1     2022     GRADY       OKLAHOMA    73002     34.92     -97.77  7b
2     2022   MCCLAIN       OKLAHOMA    73010     35.14     -97.65  7b
3     2022     PAYNE       OKLAHOMA    74023     35.97     -96.76  7b
4     2022     MAJOR       OKLAHOMA    73718     36.24     -98.18  7a
...    ...       ...            ...      ...       ...        ...  ..
5293  2022   KANAWHA  WEST VIRGINIA    25015     38.23     -81.53  7a
5294  2022   LINCOLN  WEST VIRGINIA    25003     38.28     -81.84  7a
5295  2022   ASHLAND      WISCONSIN    54514     46.01     -90.49  4a
5296  2022   NATRONA        WYOMING    82601     42.83    -106.32  5a
5297  2022  NIOBRARA        WYOMING    82222     43.20    -104.65  4b

      Corn Acres Harvested    Sales   CV  ANSI    Ag District  \
0                    244.0    71000  0.3    40        CENTRAL
1                   3063.0  2834000  0.3    40        CENTRAL
2                   3167.0  1941000  0.3    40        CENTRAL
3                    401.0   237000  0.3    40        CENTRAL
4                   4449.0  7794000  0.3    40  NORTH CENTRAL
...                    ...      ...  ...   ...            ...
5293                   5.0     2000  0.0    54      SOUTHWEST
5294                   6.0     2000  0.0    54      SOUTHWEST
5295                1796.0   918000  0.0    55  NORTH CENTRAL
5296                 638.0  1536000  0.0    56  SOUTH CENTRAL
5297                1064.0  1758000  0.0    56      SOUTHEAST

      Ag District Code             Concatenated
0                   50        CREEKOKLAHOMA2022
1                   50        GRADYOKLAHOMA2022
2                   50      MCCLAINOKLAHOMA2022
3                   50        PAYNEOKLAHOMA2022
4                   40        MAJOROKLAHOMA2022
...                ...                      ...
5293                40  KANAWHAWESTVIRGINIA2022
5294                40  LINCOLNWESTVIRGINIA2022
5295                20     ASHLANDWISCONSIN2022
5296                40       NATRONAWYOMING2022
5297                50      NIOBRARAWYOMING2022

[5064 rows x 14 columns]

## 5. Exporting Cleaned Data Set

In [86]:
df_corn_analysis.to_csv(os.path.join(path, '02 Data','Cleaned', 'df_corn_analysis.csv'))